<h1>index page</h1>

<form action="/fax" method="POST" enctype="multipart/form-data">
	<input type="number" name="post[from]" placeholder="Phone Number">
	<input type="number" name="post[to]" placeholder="Phone Number">
	<!-- <input type="file" name="filePDF" placeholder="Phone Number"> -->
	<button>Send</button>
</form>